<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="container-padding">
				<div class="page_navigator">
					<div class="pgui-pagination" data-total-record-count="181">
						<ul class="pagination" *ngIf="data$ | async as offset">
							<li *ngIf="offset.metadata.result_set.offset > 0">
								<a aria-label="Previous" class="pgui-pagination-prev" style="margin-right: 20px;" (click)="previousPage(offsetold)">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li>
								<a aria-label="Next" class="pgui-pagination-next" (click)="nextPage(offset.metadata.result_set.next_offset)">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</div>
				</div><!-- </Pages> -->
				<div class="grid grid-table js-grid">
					<table class="table text-center table-striped fixed-header">
						<thead class="js-column-filter-container">
							<tr>
								<th colspan="1" rowspan="1">
									<span>merchant_item_oid</span>
								</th>
								<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
									<span>merchant_id</span>
								</th>
								<th class="hidden-xs" colspan="1" rowspan="1">
									<span>merchant_item_id</span>
								</th>
								<th class="hidden-xs hidden-sm" colspan="1" rowspan="1">
									<span>description</span>
								</th>
								<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
									<span>description_translated_text_instance_oid</span>
								</th>
								<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
									<span>parent_category_id</span>
								</th>
								<th class="hidden-xs hidden-sm" colspan="1" rowspan="1">
									<span>parent_category_path</span>
								</th>
								<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
									<span>last_modified_dts</span>
								</th>
								<th colspan="1" rowspan="1">
									<span>creation_dts</span>
								</th>
							</tr>
						</thead>
						<tbody class="pg-row-list">
							<ng-template ngFor let-item [ngForOf]="(data$ | async)?.items" let-i="index">
								<tr class="pg-row">
									<td class=" pgui-cell-edit">{{ item.merchant_item_oid }}</td>
									<td class=" pgui-cell-edit">{{ item.merchant_id }}</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">{{ item.merchant_item_id }}</td>
									<td class="hidden-xs pgui-cell-edit"> {{ item.description }}</td>
									<td class="hidden-xs hidden-sm medium-height pgui-cell-edit">{{ item.description_translated_text_instance_oid }}</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">{{ item.parent_category_id }}</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">{{ item.parent_category_path }}</td>
									<td class="hidden-xs hidden-sm pgui-cell-edit">{{ item.last_modified_dts }}</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">{{ item.creation_dts }}</td>
								</tr>
							</ng-template>
							<tr class="empty-grid"  *ngIf="data$ | async as noresults" >
								<td colspan="14" *ngIf="noresults.items.length == 0">
									<div class="alert alert-warning empty-grid">
										There are no records to display
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot></tfoot>
					</table>
				</div>	
			</div>
		</div>
	</div>
</div>
<app-loading [loading]="loading$ | async"></app-loading>