	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="container-padding">
					<div class="grid grid-table js-grid">
						<table class="table text-center table-striped fixed-header">
							<thead class="js-column-filter-container">
								<tr>
									<th colspan="1" rowspan="1"><span>Last name</span></th>
									<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
										<span>Birthday</span>
									</th>
									<th class="hidden-xs" colspan="1"  rowspan="1">
										<span>Country</span>
									</th>
									<th class="hidden-xs hidden-sm" colspan="1" rowspan="1">
										<span>Height</span>
									</th>
									<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
										<span>Weight</span>
									</th>
									<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
										<span>College</span>
									</th>
									<th class="hidden-xs hidden-sm" colspan="1" rowspan="1">
										<span>NBA Debut</span>
									</th>
									<th class="hidden-xs hidden-sm hidden-md" colspan="1" rowspan="1">
										<span>Position</span>
									</th>
									<th colspan="1" rowspan="1">
										<span>Team</span>
									</th>
								</tr>
							</thead>
							<tbody class="pg-row-list">
								<tr class="pg-row">
									<td class=" pgui-cell-edit">Kobe</td>
									<td class=" pgui-cell-edit">Bryant</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">23.08.1978</td>
									<td class="hidden-xs pgui-cell-edit"> USA</td>
									<td class="hidden-xs hidden-sm medium-height pgui-cell-edit">198</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">96.2</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">n/a</td>
									<td class="hidden-xs hidden-sm pgui-cell-edit">1996</td>
									<td class="hidden-xs hidden-sm hidden-md pgui-cell-edit">Guard</td>
									
									
								</tr>
							</tbody>
							<tfoot></tfoot>
						</table>
					</div><!-- <Pages> -->
					<div class="page_navigator">
						<div class="pgui-pagination" data-total-record-count="181">
							<ul class="pagination">
								<li>
									<a aria-label="Previous" class="pgui-pagination-prev" style="margin-right: 20px;">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>				
								<li>
									<a aria-label="Next" class="pgui-pagination-next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</div>
					</div><!-- </Pages> -->		
				</div>
			</div>
		</div>
	</div>